:root{
    --item-height: '30px',
}
.scroll-list-container-box::-webkit-scrollbar,
.scroll-list-container-box::-webkit-scrollbar-thumb,
.scroll-list-container-box::-webkit-scrollbar-track {
    width: 0;
    height: 0;
    display: none;
}
